.staWeb div {
  margin-bottom: 10px;
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  gap: 20px;
}

.sidebar {
  width: 120px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 12px;
}

.sidebar>a {
  cursor: pointer;
  transition: all 200ms;
  text-decoration: none;
  color: black;
}

.sidebar>a:hover {
  color: #3e68f1;
}

.sidebar_right {
  width: 97%;
  height: 100%;
  padding-left: 120px;
  padding-top: 30px;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 550px) {
  .sidebar {
    display: none;
  }

  .sidebar_right {
    padding-left: 0;
    margin: 0 auto;
  }

  .main_item {
    width: 40% !important;
  }
}

.sidebar_right>div {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  padding: 20px 30px;
  box-sizing: border-box;
}

.main_item {
  width: 18%;
  padding: 3px;
  display: flex;
  gap: 2px;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  transition: all 200ms;
  font-size: 16px;
  text-decoration: none;
  color: black;
}

.main_item span {
  width: 80%;
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main_item span:hover {
  width: fit-content;
  color: #3e68f1;
}

.main_item:hover::before {
  content: attr(data-title);
  position: absolute;
  background: #231e1e;
  border-radius: 5px;
  color: white;
  padding: 2px 8px;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 3;
  -webkit-line-clamp: 3;
}

.ico {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

footer {
  background-color: #f3f3f3;
  padding: 20px 10px;
  font-size: 14px;
  width: 95vw;
  display: flex;
  gap: 60px;
  padding-left: 150px;
  box-sizing: border-box;
}

@media screen and (max-width: 550px) {
  footer {
    padding-left: 0;
  }
}

.frLink>a {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
  text-decoration-line: none;
  color: black;
}

.frLink img {
  width: 17px;
}

footer .title {
  font-size: 14px;
  margin-bottom: 10px;
  padding: 4px 6px;
  background-color: #231e1e;
  color: white;
  border-radius: 3px;
  width: fit-content;
}

.abinfo_item>span:nth-child(1) {
  margin-right: 10px;
  color: gray;
  width: 60px;
  display: inline-block;
  text-align: justify;
  text-align-last: justify;
}

.animation {
  animation: show 800ms;
}

@keyframes show {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}